/**** Reset ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** Style général de la page ****/

body {
    width: 100%;
    height: 100vh;
    background:#0a0a0a;
    transition: all 0.3s ease-out;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 500px;
    height:100vh;
}

.box {
    width: 50%;
    height: 25%;
    float: left;
    overflow: hidden;
}

.box img {
    width:100%;
    height:100%;
    object-fit:cover;
}

/**** Responsive design ****/ 

@media screen and (max-width: 575px) {
    .gallery {
        width: 95%;
    }
}